.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gifList {
  width: 80%;
  list-style: none;
  margin: 10%;
}

.gifList li {
  float:left;
  padding:20px;
}

.gifList li img {
  margin:auto;
}
